{{>layouts/header}}

<div class="section flex-vertical-center">
    <div class="title">메인 페이지</div>
    <a href="/posts/save" role="button" class="positive-button flex-vertical-center" style="width: 10rem; height: 5rem;">등록</a>
</div>

{{>layouts/footer}}